.serviceItem {
  width: 17.7rem;
  background-color: rgba(243, 247, 255, 0.8);
  padding: 1.5rem 1.8rem;
  border-radius: 0.4rem;
}

.serviceItem:nth-child(1) {
  border-top: 3px solid rgb(51, 187, 137);
}
.serviceItem:nth-child(2) {
  border-top: 3px solid rgb(88, 96, 177);
}
.serviceItem:nth-child(3) {
  border-top: 3px solid rgb(255, 115, 0);
}
.serviceItem:nth-child(4) {
  border-top: 3px solid rgb(133, 22, 218);
}

.serviceItem_title img {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
}

.serviceItem_title h3 {
  font-size: 1.3rem;
  margin: 1.3rem 0 0.8rem 0;
  font-family: "Nunito", sans-serif;
}

.serviceItem_body p {
  font-weight: 400;
  color: rgb(82, 82, 96);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
