.portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.title {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 6rem;
}
