.home {
  padding: 15rem 11rem 3.6rem 11rem;
  overflow: hidden;
  position: relative;
}

.home_row {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6rem;
}

/* Home Title */
.homeTitle {
  width: 45%;
}

.homeTitle h3 {
  font-size: 1.8rem;
  font-family: "Poppins", serif;
  font-weight: 500;
}

.homeTitle h2 {
  font-size: 1.8rem;
  font-family: "Poppins", serif;
  font-weight: 500;
  margin-bottom: 1.8rem;
}
.primaryText {
  font-size: 1.7rem;
  color: var(--primary-color-1);
  font-family: "Pacifico", sans-serif;
}

.homeTitle h1 {
  font-size: 2.6rem;
  font-family: "Poppins", serif;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.primaryText {
  color: var(--primary-color-1);
}

.homeTitle p {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2.4rem;
}

/* Download CV */
.homeBtns a {
  padding: 0.8rem 1.4rem;
  border-radius: 0.8rem;
  color: white;
  font-size: 1.07rem;
  cursor: pointer;
  transition: all 0.3s;
}
.letsTalk {
  margin-right: 1rem;
  background-color: black;
  border: 2px solid black;
}
.letsTalk:hover {
  background-color: white;
  color: black;
}
.downloadCV {
  background-color: var(--primary-color-1);
  border: 2px solid var(--primary-color-1);
}
.downloadCV:hover {
  background-color: white;
  color: var(--primary-color-1);
}

/* Hero Image */
.heroImage {
  position: relative;
}
.heroImage::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: var(--primary-color-2);
  left: -1rem;
  top: -15%;
  z-index: -1;
  border-radius: 50%;
  animation: shaking-1 infinite 3s;
}
@keyframes shaking-1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-8px) translateY(8px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.heroImage::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  border-bottom: 6.8rem solid var(--primary-color-1);
  left: 4rem;
  top: 86%;
  z-index: -1;
  animation: shaking-2 infinite 3s;
}
@keyframes shaking-2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(8px) translateY(8px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.heroImage img {
  width: 22rem;
  height: auto;
  border-radius: 50%;
  animation: shaking-img infinite 3s;
}
@keyframes shaking-img {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Social Networks */
.socialNetworks a {
  margin-right: 0.75rem;
}
.socialNetworks a:last-child {
  margin-right: 0;
}
.socialNetworks img {
  width: 1.7rem;
  height: auto;
  transition: all 1s;
}
.socialNetworks img:hover {
  transform: rotate(360deg);
}

/* Blur Colors */
.bgBlurs div {
  position: absolute;
  width: 50rem;
  height: 50rem;
  filter: blur(100px);
  z-index: -1;
}
.bgBlur_1 {
  background: radial-gradient(
    circle,
    var(--primary-color-1) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  left: -5%;
  bottom: -25%;
}
.bgBlur_2 {
  background: radial-gradient(
    circle,
    var(--primary-color-2) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  right: -5%;
  top: -5%;
}
