/* Home */
.home {
  height: 100vh;
  padding: 0 11rem;
  align-items: center;
}

.homeItems {
  padding-top: 5rem;
  width: 100%;
  justify-content: space-between;
}

/* Home Title */
.homeTitle {
  width: 45%;
}

.homeTitle h3 {
  font-size: 1.8rem;
  font-family: "Poppins", serif;
  font-weight: 500;
}

.homeTitle h2 {
  font-size: 1.8rem;
  font-family: "Poppins", serif;
  font-weight: 500;
  margin-bottom: 1.8rem;
}
.primaryText {
  font-size: 1.7rem;
  color: var(--primary-color);
  font-family: "Pacifico", sans-serif;
}

.homeTitle h1 {
  font-size: 2.6rem;
  font-family: "Poppins", serif;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.primaryText {
  color: var(--primary-color);
}

.homeTitle p {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  color: rgba(0, 0, 0, 0.8);
}

/* Hero Image */
.heroImage {
  position: relative;
}
.heroImage::after {
  content: "";
  position: absolute;
  width: 7rem;
  height: 7rem;
  background-color: rgb(255, 138, 35);
  left: -1rem;
  top: -5%;
  z-index: -1;
  border-radius: 50%;
  animation: shaking-1 infinite 3s;
}
@keyframes shaking-1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-8px) translateY(8px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.heroImage::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  border-bottom: 6rem solid rgb(55, 0, 255);
  left: 4rem;
  top: 85%;
  z-index: -1;
  animation: shaking-2 infinite 3s;
}
@keyframes shaking-2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(8px) translateY(8px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.heroImage img {
  width: 22rem;
  height: auto;
  border-radius: 50%;
}

/* Social Networks */
.socialNetworks {
  position: absolute;
  bottom: 3.5rem;
}
.socialNetworks a {
  margin-right: 0.75rem;
}
.socialNetworks a:last-child {
  margin-right: 0;
}
.socialNetworks img {
  width: 1.6rem;
  height: auto;
  transition: all 1s;
}
.socialNetworks img:hover {
  transform: rotate(360deg);
}

/* Blur Colors */
.bgBlurs div {
  position: absolute;
  width: 40rem;
  height: 40rem;
  background: radial-gradient(circle, #1e00ffaf 0%, rgba(255, 255, 255, 0) 80%);
  filter: blur(50px);
  z-index: -1;
}
.bgBlur_1 {
  left: 0;
  bottom: 0;
}
.bgBlur_2 {
  right: 0;
  top: 0;
}
