.home {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
}

.myName h3 {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.myName h1 {
  font-family: "Lobster", sans-serif;
  font-size: 4.2rem;
  font-weight: 400;
  position: relative;
}

.animate-name {
  position: relative;
  font-family: "Lobster", sans-serif;
  color: rgb(127, 53, 4);
}
.cursor {
  position: absolute;
  right: -0.7rem;
  top: 50%;
  transform: translateY(-47%);
  height: 73%;
  transition: all 0.5s;
  width: 2px;
  background-color: black;
  animation: cursor 0.55s infinite;
}
.animate-name.stop::before {
  animation: none;
}
@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.socialNetwork {
  position: absolute;
  bottom: 2rem;
  left: 0;
}
.socialNetwork a {
  text-decoration: none;
  margin-right: 1rem;
}
.socialNetwork a:last-child {
  margin-right: 0;
}
.socialNetwork a svg {
  color: rgb(127, 53, 4);
  width: 1.4rem;
  height: 1.4rem;
  transition: all 0.3s;
}
.socialNetwork a svg:hover {
  transform: translateY(-4px);
}
