header {
  padding: 3rem 0;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: auto;
  height: 1.8rem;
}
.logo h1 {
  font-size: 2rem;
  line-height: 1;
  font-family: "Pacifico", serif;
  color: black;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: black;
  font-size: 1.1rem;
  margin-right: 2rem;
  transition: all 0.3s;
}
nav a:last-child {
  margin-right: 0;
}
nav a:hover {
  color: #5f0ed8;
}

.phone {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  border-left: 1px dashed #5f0ed8;
}
.phone img {
  width: 1.3rem;
  height: auto;
}
.phone h1 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 0.5rem;
}
