header {
  padding: 3.5rem 0;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
}

nav a {
  color: black;
  font-size: 1.07rem;
  margin-right: 2rem;
  transition: all 0.3s;
}
nav a:last-child {
  margin-right: 0;
}
nav a:hover {
  color: #4e1ade;
}
nav a.active {
  color: #4e1ade;
}

/* Hire Me */
.hireMe {
  align-items: center;
  padding-left: 2rem;
  border-left: 1px dashed #4e1ade;
}
.hireMe h1 {
  font-size: 1.07rem;
  font-weight: 400;
  margin-right: 0.5rem;
}
.hireMe img {
  width: 1.2rem;
  height: auto;
  transform: rotate(-45deg);
}
