.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  padding: 3rem 0;
  z-index: 1;
}

.nav {
  display: flex;
}

.nav li {
  list-style: none;
  margin-right: 1.6rem;
  position: relative;
}
.nav li.active a {
  color: #90542d;
}
.nav li:last-child {
  margin-right: 0;
}
.nav li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -0.4rem;
  left: 0;
  background-color: black;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.nav li.active::before {
  visibility: visible;
  width: 40%;
  background-color: #90542d;
}

.nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.125rem;
  font-family: "Nunito", sans-serif;
  transition: all 0.3s;
  user-select: none;
}
