@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 12rem;
}

.app {
  width: 100%;
}
